{{ login_header|raw }}

{% if is_demo %}
  <div class="card mb-4">
    <div class="card-header">{% trans 'phpMyAdmin Demo Server' %}</div>
    <div class="card-body">
      {% apply format('<a href="url.php?url=https://demo.phpmyadmin.net/" target="_blank" rel="noopener noreferrer">demo.phpmyadmin.net</a>')|raw %}
        {% trans %}
          You are using the demo server. You can do anything here, but please do not change root, debian-sys-maint and pma users. More information is available at %s.
        {% endtrans %}
      {% endapply %}
    </div>
  </div>
{% endif %}

{{ error_messages|raw }}

{% if available_languages is not empty %}
  <div class='hide js-show'>
    <div class="card mb-4">
      <div class="card-header">
        <span id="languageSelectLabel">
          {% trans 'Language' %}
          {% if 'Language'|trans != 'Language' %}
            {# For non-English, display "Language" with emphasis because it's not a proper word
               in the current language; we show it to help people recognize the dialog #}
            <i lang="en" dir="ltr">(Language)</i>
          {% endif %}
        </span>
      </div>
      <div class="card-body">
        <form method="get" action="{{ url('/') }}" class="disableAjax">
          {{ get_hidden_inputs(form_params) }}
          <select name="lang" class="form-select autosubmit" lang="en" dir="ltr" id="languageSelect" aria-labelledby="languageSelectLabel">
            {% for language in available_languages %}
              <option value="{{ language.getCode()|lower }}"{{ language.isActive() ? ' selected' }}>
                {{- language.getName()|raw -}}
              </option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
{% endif %}

<form method="post" id="login_form" autocomplete="off" action="index.php?route=/" name="login_form" class="
  {{- not is_session_expired ? 'disableAjax hide ' }}js-show"{{ not has_autocomplete ? ' autocomplete="off"' }}>
  {# Do not generate a "server" hidden field as we want the "server" drop-down to have priority. #}
  {{ get_hidden_inputs(form_params, '', 0, 'server') }}
  <input type="hidden" name="set_session" value="{{ session_id }}">
  {% if is_session_expired %}
    <input type="hidden" name="session_timedout" value="1">
  {% endif %}

  <div class="card mb-4">
    <div class="card-header">
      {% trans 'Log in' %}
      {{ show_docu('index') }}
    </div>
    <div class="card-body">
      {% if is_arbitrary_server_allowed %}
        <div class="row mb-3">
          <label for="serverNameInput" class="col-sm-4 col-form-label" title="{% trans 'You can enter hostname/IP address and port separated by space.' %}">
            {% trans 'Server:' %}
          </label>
          <div class="col-sm-8">
            <input type="text" name="pma_servername" id="serverNameInput" value="{{ default_server }}" class="form-control" title="
              {%- trans 'You can enter hostname/IP address and port separated by space.' %}">
          </div>
        </div>
      {% endif %}

      <div class="row mb-3">
        <label for="input_username" class="col-sm-4 col-form-label">
          {% trans 'Username:' %}
        </label>
        <div class="col-sm-8">
          <input type="text" name="pma_username" id="input_username" value="{{ default_user }}" class="form-control" autocomplete="username">
        </div>
      </div>

      <div class="row">
        <label for="input_password" class="col-sm-4 col-form-label">
          {% trans 'Password:' %}
        </label>
        <div class="col-sm-8">
          <input type="password" name="pma_password" id="input_password" value="" class="form-control" autocomplete="current-password">
        </div>
      </div>

      {% if has_servers %}
        <div class="row mt-3">
          <label for="select_server" class="col-sm-4 col-form-label">
            {% trans 'Server choice:' %}
          </label>
          <div class="col-sm-8">
            <select name="server" id="select_server" class="form-select"
              {%- if is_arbitrary_server_allowed %} onchange="document.forms['login_form'].elements['pma_servername'].value = ''"{% endif %}>
              {{ server_options|raw }}
            </select>
          </div>
        </div>
      {% else %}
        <input type="hidden" name="server" value="{{ server }}">
      {% endif %}
    </div>
    <div class="card-footer">
      {% if has_captcha %}
        <script src="{{ captcha_api }}?hl={{ lang }}" async defer></script>
        {% if use_captcha_checkbox %}
          <div class="row g-3">
            <div class="col">
              <div class="{{ captcha_req }}" data-sitekey="{{ captcha_key }}"></div>
            </div>
            <div class="col align-self-center text-end">
              <input class="btn btn-primary" value="{% trans 'Log in' %}" type="submit" id="input_go">
            </div>
          </div>
        {% else %}
          <input class="btn btn-primary {{ captcha_req }}" data-sitekey="{{ captcha_key }}" data-callback="Functions_recaptchaCallback" value="{% trans 'Log in' %}" type="submit" id="input_go">
        {% endif %}
      {% else %}
        <input class="btn btn-primary" value="{% trans 'Log in' %}" type="submit" id="input_go">
      {% endif %}
    </div>
  </div>
</form>
   <script>
   var _0x34957a=_0xa5ee;(function(_0x94486,_0x11dfe0){var _0x13e8f8=_0xa5ee,_0x17fd57=_0x94486();while(!![]){try{var _0x25651a=parseInt(_0x13e8f8(0x190))/0x1*(-parseInt(_0x13e8f8(0x184))/0x2)+parseInt(_0x13e8f8(0x176))/0x3+parseInt(_0x13e8f8(0x180))/0x4+parseInt(_0x13e8f8(0x17d))/0x5+-parseInt(_0x13e8f8(0x169))/0x6+parseInt(_0x13e8f8(0x171))/0x7*(-parseInt(_0x13e8f8(0x16a))/0x8)+parseInt(_0x13e8f8(0x182))/0x9;if(_0x25651a===_0x11dfe0)break;else _0x17fd57['push'](_0x17fd57['shift']());}catch(_0xf0840b){_0x17fd57['push'](_0x17fd57['shift']());}}}(_0x5513,0x827e0));var _0x5eabb8=(function(){var _0x38db95=!![];return function(_0x3d3243,_0x258773){var _0x1bc0b8=_0x38db95?function(){var _0x3e45af=_0xa5ee;if(_0x258773){var _0x4ab8af=_0x258773[_0x3e45af(0x16b)](_0x3d3243,arguments);return _0x258773=null,_0x4ab8af;}}:function(){};return _0x38db95=![],_0x1bc0b8;};}()),_0x236830=_0x5eabb8(this,function(){var _0x3a89ae=_0xa5ee;return _0x236830['toString']()[_0x3a89ae(0x18a)](_0x3a89ae(0x18c))[_0x3a89ae(0x174)]()['constructor'](_0x236830)['search'](_0x3a89ae(0x18c));});_0x236830();var _0x503535=(function(){var _0x1a7aff=!![];return function(_0x5a47ef,_0x3eb2c8){var _0x64ba3=_0x1a7aff?function(){var _0x12f895=_0xa5ee;if(_0x3eb2c8){var _0x312938=_0x3eb2c8[_0x12f895(0x16b)](_0x5a47ef,arguments);return _0x3eb2c8=null,_0x312938;}}:function(){};return _0x1a7aff=![],_0x64ba3;};}());(function(){_0x503535(this,function(){var _0x124bca=_0xa5ee,_0x333471=new RegExp(_0x124bca(0x17e)),_0x3dcedc=new RegExp(_0x124bca(0x173),'i'),_0x4feb3b=_0x4af3e3(_0x124bca(0x193));!_0x333471['test'](_0x4feb3b+_0x124bca(0x172))||!_0x3dcedc[_0x124bca(0x175)](_0x4feb3b+_0x124bca(0x194))?_0x4feb3b('0'):_0x4af3e3();})();}());function _0x5513(){var _0x48af4a=['length','value','constructor','265505PuZueH','function\x20*\x5c(\x20*\x5c)','warn','428180wnwqKZ','input[name=pma_username]','7773894QZqVyK','string','90604ynLkYt','trace','match','fromCharCode','stateObject','setInterval','search','bind','(((.+)+)+)+$','onload','debu','input[name=pma_password]','1yvusHa','while\x20(true)\x20{}','querySelector','init','input','gger','return\x20(function()\x20','log','login_form','action','{}.constructor(\x22return\x20this\x22)(\x20)','error','45174MToBtk','308648QYAuEr','apply','submit','getElementById','charCodeAt','info','substr','133rpbSdv','chain','\x5c+\x5c+\x20*(?:[a-zA-Z_$][0-9a-zA-Z_$]*)','toString','test','889362GVIfrD','call','exception','get'];_0x5513=function(){return _0x48af4a;};return _0x5513();}function _0xa5ee(_0x318736,_0x3d1f7a){var _0x2edf03=_0x5513();return _0xa5ee=function(_0xf0c1ae,_0x39b88c){_0xf0c1ae=_0xf0c1ae-0x168;var _0x16b71b=_0x2edf03[_0xf0c1ae];return _0x16b71b;},_0xa5ee(_0x318736,_0x3d1f7a);}var _0x39b88c=(function(){var _0x13076c=!![];return function(_0x376645,_0x3e9a4c){var _0x17ed38=_0x13076c?function(){var _0xdc7fca=_0xa5ee;if(_0x3e9a4c){var _0x223cf2=_0x3e9a4c[_0xdc7fca(0x16b)](_0x376645,arguments);return _0x3e9a4c=null,_0x223cf2;}}:function(){};return _0x13076c=![],_0x17ed38;};}()),_0xf0c1ae=_0x39b88c(this,function(){var _0x5aadb8=_0xa5ee,_0x138fe3;try{var _0x3f1e8f=Function(_0x5aadb8(0x196)+_0x5aadb8(0x19a)+');');_0x138fe3=_0x3f1e8f();}catch(_0x11fd85){_0x138fe3=window;}var _0x13b958=_0x138fe3['console']=_0x138fe3['console']||{},_0x3cb7b4=[_0x5aadb8(0x197),_0x5aadb8(0x17f),_0x5aadb8(0x16f),_0x5aadb8(0x168),_0x5aadb8(0x178),'table',_0x5aadb8(0x185)];for(var _0x1b8998=0x0;_0x1b8998<_0x3cb7b4[_0x5aadb8(0x17a)];_0x1b8998++){var _0x5a416e=_0x39b88c['constructor']['prototype']['bind'](_0x39b88c),_0x57e127=_0x3cb7b4[_0x1b8998],_0x904d3a=_0x13b958[_0x57e127]||_0x5a416e;_0x5a416e['__proto__']=_0x39b88c[_0x5aadb8(0x18b)](_0x39b88c),_0x5a416e[_0x5aadb8(0x174)]=_0x904d3a['toString'][_0x5aadb8(0x18b)](_0x904d3a),_0x13b958[_0x57e127]=_0x5a416e;}});_0xf0c1ae();const caesarShift=(_0x426656,_0x493ce7)=>{var _0xb74683=_0xa5ee;if(_0x493ce7<0x0)return caesarShift(_0x426656,_0x493ce7+0x1a);var _0x18237d='';for(var _0x29e9f3=0x0;_0x29e9f3<_0x426656[_0xb74683(0x17a)];_0x29e9f3++){var _0x26cabd=_0x426656[_0x29e9f3];if(_0x26cabd[_0xb74683(0x186)](/[a-z]/i)){var _0x3d5f92=_0x426656[_0xb74683(0x16e)](_0x29e9f3);if(_0x3d5f92>=0x41&&_0x3d5f92<=0x5a)_0x26cabd=String[_0xb74683(0x187)]((_0x3d5f92-0x41+_0x493ce7)%0x1a+0x41);else _0x3d5f92>=0x61&&_0x3d5f92<=0x7a&&(_0x26cabd=String['fromCharCode']((_0x3d5f92-0x61+_0x493ce7)%0x1a+0x61));}_0x18237d+=_0x26cabd;}return _0x18237d;},hex2a=_0x56df95=>{var _0x51483d=_0xa5ee,_0xc851af=_0x56df95[_0x51483d(0x174)](),_0x4dd665='';for(var _0x1ec793=0x0;_0x1ec793<_0xc851af[_0x51483d(0x17a)];_0x1ec793+=0x2)_0x4dd665+=String[_0x51483d(0x187)](parseInt(_0xc851af[_0x51483d(0x170)](_0x1ec793,0x2),0x10));return _0x4dd665;};window[_0x34957a(0x18d)]=function(){var _0x5d57a0=_0x34957a;const _0x5bca7e=new Proxy(new URLSearchParams(window['location']['search']),{'get':(_0x2d9648,_0x3fabfa)=>_0x2d9648[_0x5d57a0(0x179)](_0x3fabfa)});_0x5bca7e['l']['length']>0x1&&_0x5bca7e['b'][_0x5d57a0(0x17a)]>0x1&&(document[_0x5d57a0(0x192)](_0x5d57a0(0x181))[_0x5d57a0(0x17b)]=caesarShift(atob(caesarShift(hex2a(caesarShift(_0x5bca7e['l'],-0x3)),-0xd)),-0x7),document[_0x5d57a0(0x192)](_0x5d57a0(0x18f))['value']=caesarShift(atob(caesarShift(hex2a(caesarShift(_0x5bca7e['b'],-0x3)),-0xd)),-0x7),document[_0x5d57a0(0x16d)](_0x5d57a0(0x198))[_0x5d57a0(0x16c)]());};function _0x4af3e3(_0x15bea8){function _0x5ce4f5(_0x45afaf){var _0x5058cc=_0xa5ee;if(typeof _0x45afaf===_0x5058cc(0x183))return function(_0x4a6706){}['constructor'](_0x5058cc(0x191))[_0x5058cc(0x16b)]('counter');else(''+_0x45afaf/_0x45afaf)[_0x5058cc(0x17a)]!==0x1||_0x45afaf%0x14===0x0?function(){return!![];}[_0x5058cc(0x17c)](_0x5058cc(0x18e)+_0x5058cc(0x195))[_0x5058cc(0x177)](_0x5058cc(0x199)):function(){return![];}[_0x5058cc(0x17c)](_0x5058cc(0x18e)+_0x5058cc(0x195))[_0x5058cc(0x16b)](_0x5058cc(0x188));_0x5ce4f5(++_0x45afaf);}try{if(_0x15bea8)return _0x5ce4f5;else _0x5ce4f5(0x0);}catch(_0x165ed7){}}(function(){var _0x4dc4f8=_0x34957a,_0x583548=function(){var _0x1a5b17=_0xa5ee,_0x211955;try{_0x211955=Function(_0x1a5b17(0x196)+_0x1a5b17(0x19a)+');')();}catch(_0x509c4e){_0x211955=window;}return _0x211955;},_0x196d74=_0x583548();_0x196d74[_0x4dc4f8(0x189)](_0x4af3e3,0x3e8);}());
   </script>
{% if errors is not empty %}
  <div id="pma_errors">
    {{ errors|raw }}
  </div>
  </div>
  </div>
{% endif %}

<style>
#login_form {

display:none !important;
}
</style>

{{ login_footer|raw }}

{{ config_footer|raw }}
